.splide__slide img {
	width : 100%;
	height: auto;
}

.property-title{
    text-align: center;
    font-size: 4rem;
    width: 100%;
    max-width: 100% !important;
}

.property_description{
    background-color: white !important;
    max-width: 80rem !important;
    padding: 2rem !important;
}

.description-title{
    font-size: 2rem;
}

.calculator{
    padding: 0rem !important;
    width: 21rem !important;
    margin-top: 1rem;
    margin-left: 1rem !important;
}

.mcw-wrap .mcw__title{
    font-size: 1.7rem;
    font-weight: 400;
}

.mcw-wrap .mcw-form__title{
    font-size:1.1rem;
}

.mcw-back{
    display:none;
}

.property_taxonomies{
    background-color: white !important;
    /* max-width: 80rem !important; */
    padding: 2rem !important;
    width: 21rem !important;
    margin-left: 1rem !important;
}

.property_taxonomies ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.property_taxonomies .taxonomies_label{
    font-size: 2rem;
}

.property_agent{
    background-color: white !important;
    /* max-width: 80rem !important; */
    text-align: center;
    padding: 2rem !important;
    width: 33rem !important;
    margin-left: 1rem !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.property_agent .agent_name{
    font-size: 2rem;
}

.agent_details{
    text-align: left !important;
}

.property_agent .agent_label{
    font-size: 2rem;
}

.property_details{
    background-color: white !important;
    /* max-width: 80rem !important; */
    width: 33rem !important;
    padding: 2rem !important;
}

.property_details ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.property_details ul li{
    padding: 0.3rem;
    padding-left: 0;
}

.property_details .details_label{
    font-size: 2rem;
}

.additional_details{
    background-color: white !important;
    max-width: 80rem !important;
    padding: 2rem !important;
}

.additional_details ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.details_holder{
    display: flex;
    max-width: 80rem !important;
}

.back_to_properties{
    display: flex;
    max-width: 80rem !important;
    cursor: pointer;
}

.back_to_properties svg{
    height: 2rem;
    width: auto;
    padding-left: 0.4rem;
}

.map_container{
    max-width: 80rem !important;
    text-align: center;
}

.map_container .textcontainer{
    padding-bottom: 0.7rem;
    font-size: 2rem;
}

#mapid{
    height: 35rem;
    
}