.jumbotron{
    background-color: #e9ecef;
    padding: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    padding-left: 0.5rem;
    padding-top: 0.7rem;
}

.petsText
{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
