.main-dashboard{
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-right: 34rem;
    margin-top: 16rem;
    display: flex;
    justify-content: space-evenly;
}

.btn.btn-secondary.btn-lg{
    width: 23%;
}

